In [4]:
import pandas as pd
import numpy as np

In [5]:
import statsmodels.api as sm

In [6]:
filepath = "C:/Users/DELL/OneDrive/Desktop/IIT DHANBAD SAMRAT/7. Multivariate Lab/Practice/Exp 6 Data.csv"
df=pd.read_csv(filepath)
df

       y    x1     x2     x3   x4    x5   x6
0   4540  2140  20640  30250  205  1732   99
1   4315  2016  20280  30010  195  1697  100
2   4095  1905  19860  29780  184  1662   97
3   3650  1675  18980  29330  164  1598   97
4   3200  1474  18100  28960  144  1541   97
5   4833  2239  20740  30083  216  1709   87
6   4617  2120  20305  29831  206  1669   87
7   4340  1990  19961  29604  196  1640   87
8   3820  1702  18916  29088  171  1572   85
9   3368  1487  18012  28675  149  1522   85
10  4445  2107  20520  30120  195  1740  101
11  4188  1973  20130  29920  190  1711  100
12  3981  1864  19780  29720  180  1682  100
13  3622  1674  19020  29370  161  1630  100
14  3125  1440  18030  28940  139  1572  101
15  4560  2165  20680  30160  208  1704   98
16  4340  2048  20340  29960  199  1679   96
17  4115  1916  19860  29710  187  1642   94
18  3630  1658  18950  29250  164  1576   94
19  3210  1489  18700  28890  145  1528   94
20  4330  2062  20500  30190  193  1748  101
21  4119  1929  20050  29960  183  1713  100
22  3891  1815  19680  29770  173  1684  100
23  3467  1595  18890  29360  153  1624   99
24  3045  1400  17870  28960  134  1569  100
25  4411  2047  20540  30160  193  1746   99
26  4203  1935  20160  29940  184  1714   99
27  3968  1807  19750  29760  173  1679   99
28  3531  1591  18890  29350  153  1621   99
29  3074  1388  17870  28910  133  1561   99
30  4350  2071  20460  30180  198  1729  102
31  4128  1944  20010  29940  186  1692  101
32  3940  1831  19640  29750  178  1667  101
33  3480  1612  18710  29360  156  1609  101
34  3064  1410  17780  28900  136  1552  101
35  4402  2066  20520  30170  197  1758  100
36  4180  1954  20150  29950  188  1729   99
37  3973  1835  19750  29740  178  1690   99
38  3530  1616  18850  29320  156  1616   99
39  3080  1407  17910  28910  137  1569  100

In [11]:
x=df.iloc[:,2].copy()

In [8]:
x

0     20640
1     20280
2     19860
3     18980
4     18100
5     20740
6     20305
7     19961
8     18916
9     18012
10    20520
11    20130
12    19780
13    19020
14    18030
15    20680
16    20340
17    19860
18    18950
19    18700
20    20500
21    20050
22    19680
23    18890
24    17870
25    20540
26    20160
27    19750
28    18890
29    17870
30    20460
31    20010
32    19640
33    18710
34    17780
35    20520
36    20150
37    19750
38    18850
39    17910
Name: x2, dtype: int64

In [9]:
y=df['y'].copy()

In [10]:
x,y = np.array(x),np.array(y)
x=sm.add_constant(x)
model1=sm.OLS(y,x)
results1=model1.fit()
print(results1.summary())
print("\n Fitted Values: \n ")
y_pred=results1.fittedvalues.round(2)
print(y_pred)

                            OLS Regression Results
==============================================================================
Dep. Variable:                      y   R-squared:                       0.953
Model:                            OLS   Adj. R-squared:                  0.951
Method:                 Least Squares   F-statistic:                     764.9
Date:                Tue, 14 Nov 2023   Prob (F-statistic):           8.85e-27
Time:                        12:18:49   Log-Likelihood:                -244.19
No. Observations:                  40   AIC:                             492.4
Df Residuals:                      38   BIC:                             495.8
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const      -6300.8911    369.409    -17.057      0.000   -7048.721   -5553.061
x1             0.5235      0.019     27.656      0.000       0.485       0.562
==============================================================================
Omnibus:                       11.074   Durbin-Watson:                   0.645
Prob(Omnibus):                  0.004   Jarque-Bera (JB):               11.419
Skew:                           0.957   Prob(JB):                      0.00331
Kurtosis:                       4.786   Cond. No.                     4.10e+05
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 4.1e+05. This might indicate that there are
strong multicollinearity or other numerical problems.

 Fitted Values:

[4503.59 4315.14 4095.28 3634.62 3173.96 4555.93 4328.22 4148.15 3601.12
 3127.9  4440.77 4236.61 4053.4  3655.56 3137.32 4524.52 4346.54 4095.28
 3618.92 3488.05 4430.3  4194.74 4001.05 3587.51 3053.57 4451.24 4252.32
 4037.69 3587.51 3053.57 4409.36 4173.8  3980.11 3493.28 3006.45 4440.77
 4247.08 4037.69 3566.57 3074.51]